# Those hparams which are in a list 
# apply differently to each ntwrk
# Should match with NUM_AGENTS_PER_TYPE

"LR": [0.00025]  # HP (v3_Exec_FixedQuantsComplex_Ablations) shows 0.0001 better than 0.001 (latter is unstable) Ref is 2.5e-4
"NUM_ENVS": 4096 #2048 #2048 #128 
"NUM_STEPS": 64
"NUM_STEPS_EVAL" : 64
"GRU_HIDDEN_DIM": 256
"FC_DIM_SIZE": 256
"TOTAL_TIMESTEPS": 1e8 #Should take ~0.5 / 2 days
"UPDATE_EPOCHS": 4
"NUM_MINIBATCHES": 4 # HP (v3_Exec_FixedQuantsComplex_Ablations) shows 8 better than 16, trying even smaller
"GAMMA": [0.999999999] # HP (v3_Exec_FixedQuantsComplex_Ablations) shows 0.99 better than 0.999 Ref is 0.99 GPT says smaller more stable. 
"GAE_LAMBDA": [0.85] # Ref is 0.95, ive been trying 0.99+, GPT suggests smaller smoother value func
"CLIP_EPS": 0.2 #Ref is 0.2, trying smaller for morse stable updates
"SCALE_CLIP_EPS": [False]
"ENT_COEF": [0.01]
"VF_COEF": [5e-1]  #Ref is 0.5... Crazy difference in values. 
"MAX_GRAD_NORM": [0.5]
"ACTIVATION": ["relu"]
"ENV_NAME": "JAXMARL-SingleExec-v0"
"NUM_AGENTS_PER_TYPE": [1]
"SEED": 2 #Overriden in SWEEP
"N_DEVICES": 1
"ENV_CONFIG": "config/env_configs/mm_debug_fixed_quant.json" #exec_longrun_fixed_quants_complex.json" # exec_longrun_fixed_price.json mm_debug_fixed_quant
"ANNEAL_LR": [True]

# WandB Params
"ENTITY": "oxford-lob"
"PROJECT": "v0MM_FixedQuant" #"v4_2Player_reference_price_ablation" #"DEBUG"
"WANDB_MODE" : "online"
SWEEP_PARAMETERS:
        # LR:
        #   values: [[0.001],[0.0001]]
        # # NUM_STEPS:
        # #   values: [32,config["NUM_STEPS"], 512]
        # GAE_LAMBDA:
        #   values: [ [0.999],[0.9999]] #Should smooth value func
        # GAMMA:
        #   values: [ [0.99],[0.999]] #Discoutn factor
        # NUM_MINIBATCHES:
        #   values: [8,16] # Bigger batches, potentially less noisy updates
        # ENT_COEF:
        #   values: [config["ENT_COEF"], [0.1,0.1], [0.05,0.05]]
        # UPDATE_EPOCHS:
        #   values: [config["UPDATE_EPOCHS"], 8]
        # CLIP_EPS:
        #   values: [config["CLIP_EPS"], 0.3, 0.1]
        # VF_COEF:
        #   values: [config["VF_COEF"], [1e-6,1e-7], [1e-9,1e-8]]
        # FC_DIM_SIZE:
        #   values: [config["FC_DIM_SIZE"], 256]
        # NUM_AGENTS_PER_TYPE:
        #   values: [config["NUM_AGENTS_PER_TYPE"], [2,2], [10,10]]
        SEED:
          values: [42]
        # NUM_ENVS:
        #   values: [config["NUM_ENVS"]]
        # NUM_STEPS:
        #   values: [config["NUM_STEPS"], 128, 32, 8]
        AGENT_CONFIGS:
          parameters:
            MarketMaking:
              parameters:
                inventoryPnL_eta:
                  values: [0.6]  # "none" "linear "quadratic"
                inventoryPnL_gamma:
                  values: [0.01]  # "none" "linear "quadratic"
                reward_scaling_quo:
                  values: [10]
                fixed_quant_value:
                  values: [1]
                rebate_bps:
                  values: [0.3,0.25,0.2]  # "spooner"buy_sell_pnl
            #     reference_price_portfolio_value:
            #       values: ["best_bid_ask"]  #best_bid_ask "mid"
            # Execution:
            #   parameters:
                # reward_lambda:
                #   values: [0.0,0.3] #,0.2,0.8,1.0]
                # doom_price_penalty:
                #   values: [5,10]
                # fixed_quant_value:
                #   values: [10]
                # n_actions:
                #   values: [2,4,3]  #fixed_quants,fixed_quants_complex
                # reward_scaling_quo:
                #   values: [100.0]




# High-Level Params
"CALC_EVAL" : True
"TimePeriod" : "2024"
"EvalTimePeriod" : "2024_Dec"
"Calculate Baseline" : False
"Timing" : False



